<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
var metaData = (typeof meta === 'undefined') ? '' : meta;
if(metaData.hierarchy) {
%>
<div class="l-breadcrumbs l-lg" typeof="BreadcrumbList" vocab="https://schema.org/">
  <div class="l-breadcrumbs__inner">
    <div class="l-breadcrumbs__list">
      <div class="l-breadcrumbs__item" property="itemListElement" typeof="ListItem">
        <a property="item" typeof="WebPage" title="ホーム" href="<%= siteurl %>">
          <span property="name">ホーム</span>
        </a>
        <meta property="position" content="1">
      </div>

      <% for (let i = 0; i < metaData.hierarchy.length; i++) { %>
        <div class="l-breadcrumbs__item" property="itemListElement" typeof="ListItem">
          <% if(i < metaData.hierarchy.length - 1) { %>
            <a property="item" typeof="WebPage" title="<%= metaData.hierarchy[i].title %>" href="<%= siteurl + metaData.hierarchy[i].link %>">
          <% } %>

          <span property="name"><%= metaData.hierarchy[i].title %></span>

          <% if(i < metaData.hierarchy.length - 1) { %>
            </a>
          <% } %>
          <meta property="position" content="<%= i + 2 %>">
        </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>
