<%- include('_analytics-body') %>
<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;

const logoTagOpen = (metaData.pageName === 'top') ? '<h1 class="logo__image">' : '<p class="logo__image">';
const logoTagClose = (metaData.pageName === 'top') ? '</h1>' : '</p>';
%>

<header class="l-header">
  <div class="l-header__inner">
    <a class="logo pjax-replace" href="<%= siteurl %>" data-transition="top">
      <%- logoTagOpen %>
        Quicint
      <%- logoTagClose %>
    </a>
    <nav class="l-nav">
      <ul class="l-nav__list">
        <li class="l-nav__item">
          <a class="l-nav__link" data-indicator="top" href="<%= siteurl %>">HOME</a>
        </li>
        <li class="l-nav__item">
          <a class="l-nav__link" data-indicator="page2" href="<%= siteurl %>page2/">Page2</a>
        </li>
      </ul>
    </nav>
  </div>
  <button id="hmb" class="l-hmb l-sm" aria-label="メニューボタン"><span></span></button>
  <div id="hmb__bg" class="l-hmb-bg"></div>
</header>
