<%
var ejsDefine = (typeof ejsDefine === 'undefined') ? '' : ejsDefine;
var pageData = {
  pageName: 'sitemap',
  title:'サイトマップ',
  desc:'サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです（150文字前後）。サンプルテキストです',
  hierarchy: [
    {
      title: "サイトマップ",
      link: "/sitemap/"
    }
  ]
};
%>

<%- include('../inc/_head', {meta: pageData}) %>
<!-- main -->
<main class="l-page">
  <div class="l-container">
    <%- include('../inc/_breadcrumbs', {meta: pageData}) %>

    <!-- contents -->
    <p>サイトマップです。</p>
    <ul>
      <li><a href="<%= siteurl %>">HOME</a></li>
      <li><a href="<%= siteurl %>page1/">Page1</a></li>
      <li><a href="<%= siteurl %>page2/">Page2</a></li>
      <li><a href="<%= siteurl %>page2/page2-2/">Page2-2</a></li>
      <li><a href="<%= siteurl %>page3/">Page3</a></li>
      <li><a href="<%= siteurl %>sitemap/">サイトマップ</a></li>
    </ul>

  </div>
</main>
<%- include('../inc/_footer') %>
