<%
// define
const DEFINE = (typeof define === 'undefined') ? '' : define

// metaData
const metaData = (typeof meta === 'undefined') ? '' : meta;

// SITESETTING
const SITESETTING = (typeof siteSetting === 'undefined') ? '' : siteSetting;

// canonicalUrl
let canonicalUrl = ''
if(metaData.hierarchy) {
  metaData.hierarchy.forEach(item => {
    canonicalUrl += item.link;
  });
  canonicalUrl = metaData.hierarchy[metaData.hierarchy.length - 1].link
}
%>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <title><%= metaData.title %>｜<%= SITESETTING.siteName %></title>
    <meta name="description" content="<%= metaData.desc %>">
    <meta name="author" content="<%= SITESETTING.metaAuthor %>">

    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="<%= metaData.ogType %>">
    <meta property="og:title" content="<%= metaData.title %>｜<%= SITESETTING.siteName %>">
    <meta property="og:description" content="<%= metaData.desc %>">
    <meta property="og:url" content="<%= SITESETTING.siteDomain + canonicalUrl %>/">
    <meta property="og:site_name" content="<%= SITESETTING.siteName %>">
    <meta property="og:image" content="<%= SITESETTING.siteDomain %>/assets/images/ogpimg.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="fb:app_id" content="<%= SITESETTING.metaAppid %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= SITESETTING.metaTwitterSite %>">
    <meta name="twitter:creator" content="<%= SITESETTING.metaTwitterCreator %>">

    <meta name="theme-color" content="<%= SITESETTING.themeColor %>">
    <link rel="canonical" href="<%= SITESETTING.siteDomain + canonicalUrl %>/">
    <link rel="shortcut icon" href="<%= sitePath %>assets/images/favicon.ico">

    <link rel="preload" as="style" href="<%= sitePath %>assets/styles/style.css?rev">
    <link rel="preload" as="script" href="<%= sitePath %>assets/scripts/bundle.js?rev">
    <link rel="stylesheet" href="<%= sitePath %>assets/styles/style.css?rev">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="<%= SITESETTING.webFontUrl %>" />
    <link rel="stylesheet" href="<%= SITESETTING.webFontUrl %>" media="print" onload="this.media='all'" />
    <noscript><link rel="stylesheet" href="<%= SITESETTING.webFontUrl %>" /></noscript>

    <% if(metaData.addInlineStyle) { %><%- metaData.addInlineStyle %><% } %>

    <%- include('_analytics-head') %>
  </head>

  <body id="gotop" class="<%= meta.pageName %>">
    <%- include('_analytics-body') %>
    <div id="l-mainwrap" class="l-mainwrap">
      <%- include('../ui/_header', {meta: meta}) %>
      <div id="l-mainwrap-inner" class="l-mainwrap__inner">
